body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6301c96a-cfea-4ad9-9a0b-606b97de142f/d5lizfj-6d057474-2b75-4354-bbe3-414030350566.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjMwMWM5NmEtY2ZlYS00YWQ5LTlhMGItNjA2Yjk3ZGUxNDJmXC9kNWxpemZqLTZkMDU3NDc0LTJiNzUtNDM1NC1iYmUzLTQxNDAzMDM1MDU2Ni5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.bfBW7y0BP8LlTo89iNtZz1XbsRuhZUcxwDwlZLkfspk");
}

h1 {
  text-align: center;
  font-family: "Lemonada", cursive;
  color: yellow;
  text-shadow: 2px 0 black;
}

#game-progress {
  margin-top: 90px;
  color: rgb(0, 0, 0);
  font-family: fantasy;
  text-align: center;
}

#game {
  color: rgb(0, 0, 0);
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
}

label {
  font-family: fantasy;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

#timer {
  text-align: left;
  margin-left: 20px;
  margin-top: -420px;
  font-size: 25px;
  font-weight: bold;
  color: #ff2d2d;
  font-family: fantasy;
}

button {
  background-color: #c3e722;
  color: rgb(0, 0, 0);
  font-family: fantasy;
  text-align: center;
  margin: auto;
  display: flex;
  border-radius: 100px;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px;
  margin-top: 10px;
}
